---
import Layout from '../layouts/Layout.astro';
import Intro from '../components/Intro.astro';
import Bento from '../components/Bento.astro';
import PreFooter from '../components/PreFooter.astro';
import Footer from '../components/Footer.astro';
import About from '../components/About.astro';

---

<Layout
  title="MiHaven Care builds Specialist Disability Accommodation (SDA) right here in Cairns."
  description="Constructing, cultivating, and creating doorways to a socially sustainable future for a widely diverse range of communities in the far North Queensland region. Our core pursuit is to establish a sustainable business aligned to social enterprises aimed at delivering socially impactful outcomes."
>
  <main>
    <Intro />
    <Bento />
    <About />
    <PreFooter />
    <Footer />
  </main>
</Layout>

<style>
/* Estilos si es necesario */
</style>
