---
import Logo from "./Logo.astro"
---
<header id="header-nav" class="fixed top-0 w-full px-6 py-4 z-50">
    <div class="flex justify-between items-center w-full">
        <a href="/" class="col-span-1">
            <Logo class="w-12" />
        </a>
        <nav class="flex flex-row gap-x-10">
            <ul class="flex gap-4">
                <li class="header-text menu-item">HOME</li>
                <li class="header-text menu-item">ABOUT</li>
                <li class="header-text menu-item">PROPERTY</li>
                <li class="header-text menu-item">MIHAVEN TRAINING</li>
                <li class="header-text menu-item">MIHAVEN CARE</li>
                <li class="header-text menu-item">STUDENT LIVING</li>
                <li class="header-text menu-item">NEWS</li>
                <li class="header-text menu-item">CONTACT</li>
            </ul>
        </nav>
    </div>
</header>