---
import Logo from "./Logo.astro"
---
<header id="header-nav" class="fixed top-0 w-full px-6 py-4 z-50">
    <div class="flex justify-between items-center w-full">
        <a href="/" class="col-span-1">
            <Logo class="w-12" />
        </a>
        <nav class="col-span-1 justify-self-center">
            <ul class="flex gap-4">
                <li>HOME</li>
                <li>ABOUT</li>
                <li>PROPERTY</li>
                <li>MIHAVEN TRAINING</li>
                <li>MIHAVEN CARE</li>
                <li>STUDENT LIVING</li>
                <li>NEWS</li>
                <li>CONTACT</li>
            </ul>
        </nav>
    </div>
</header>